 servers:
  - name: "Palworld Server"
    host: "192.168.1.10"
    port: 2022
    username: "user1"
    password: "password1"
    path: "Pal/Binaries/Win64/PalDefender/Logs"
    webhook: "https://discord.com/api/webhooks/111111111111111111/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
    channel: 111111111111111111
    save_path: "Pal/Saved/SaveGames/0/0000000000000001"
    backup_channel: 111111111111111111
    backup_interval: 300
    link_channel: 222222222222222222

economy:
  currency_name: "gold"
  work_cooldown: 3600
  work_minamount: 10
  work_maxamount: 50